
<div id="collectionWrapper">


	<div id="collectionImage1"><p>Rings</p></div>

	<div id="collectionImage2"><p>Necklaces</p></div>

	<div id="collectionImage3"><p>Wedding</p></div>





</div>



<!-- <div id="collectionWrapper">


<div class="collectionImage">
	<a href="#"><img src="images/collections_rings1.jpg" alt=""></a>
</div>
<div id="collectionTitle">Rings</div>

<div class="collectionImage">
	<a href="#"><img src="images/collections_neck1.jpg" alt="">
</div>

<div class="collectionImage">
	<a href="#"><img src="images/collections_earrings.jpg" alt=""></a>
</div>


</div> -->