
<div id="collectionWrapper">


<div class="collectionImage">
	<a href="#"><img src="images/collections_rings1.jpg" alt=""></a>
</div>

<div class="collectionImage">
	<a href="#"><img src="images/collections_neck1.jpg" alt="">
</div>

<div class="collectionImage">
	<a href="#"><img src="images/collections_earrings.jpg" alt=""></a>
</div>


</div>