<div id="mainContent">
<div id = "formWrapper">

	<header id = "contactHeader">
		<h3>Contact us</h3>
	</header>

	<div id="contactDesc">
		<p>We would love to hear any feedback that you may have regarding our product or if you have any questions please do not hesitate to ask us.</p>
	</div>

<form method="post" action="/submit-form">

	<div class="textFields">
		<label for="senderName">Your name</label>
		<br/>
		<input type="text" name="senderName" class="senderInfo">
	</div>

	<div class="textFields">
		<label for="senderEmail">Your email</label>
		<br/>
		<input type="text" name="senderEmail" class="senderInfo">
	</div>

	<div class="textFields">
		<label for="message">Comments/Questions</label>
		<br/>
		<input type="text" name="message" id="messageBox">
	</div>

	<input type="submit">

</form>

</div>
</div>