		<div id="mainContent">
			<div id="homeImage"><img src="images/home.jpg"></div>
			<div id="instagramFeed">
			<div id="instagramTitle">Instagram</div>
				<div id="instagramPic1"></div>
				<div id="instagramPic2"></div>
				<div id="instagramPic3"></div>
				<div id="instagramPic4"></div>
				<div id="instagramPic5"></div>
			</div>
		</div>