		<div id="mainContent">
			<div id="homeImage"><img src="images/home.jpg" alt=""></div>
			<div id="instagramFeed">
				<div class="instagramPic"></div>
				<div class="instagramPic"></div>
				<div class="instagramPic"></div>
				<div class="instagramPic"></div>
				<div class="instagramPic"></div>
				<div class="instagramPic"></div>
				<div class="instagramPic"></div>
		</div>
		</div>