		
			<div id="homeImage"><img src="images/indeximage-bw2.jpg"></div>
			<div id="instagramFeed">
			<div id="instagramTitle">&commat;Kismet on Instagram</div>
				<div id="instagramPic1"></div>
				<div id="instagramPic2"></div>
				<div id="instagramPic3"></div>
				<div id="instagramPic4"></div>
				<div id="instagramPic5"></div>
			</div>
		