<div id="receive_form">

	<div id="msgReceived">
		Your email has been sent!
	</div>

	<div id="msgNote">
		We have received your email and will reply to you as soon as we can. If you have not received a reply from us within 3 days, please contact us again.
	</div>

	<div id="thanks">
	- M + M
	</div>

</div>