html {
	font-family: Arial, sans-serif;
	font-size: 14px;
}


/* BEGINNING OF CONTACT ERB STYLING*/

#formWrapper {
	padding: 40px;
}

h3 {
	font-size: 30px;
}

.senderInfo {
	width: 200px;
}

#messageBox {
	height: 130px;
	width: 400px;
}

/* END OF CONTACT ERB STYLING */